@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

h1 {
    color: crimson;
}

.calculator {
    border: 2px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.9);
}

input {
    width: 320px;
    padding: 24px;
    margin: 10px;
    border: none;
    font-size: 30px;
    text-align: right;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.2);
    color: white;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 25%;
    background: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.2);
}

.operator {
    color: greenyellow;
}

.equalBtn {
    background-color: orangered;
}

@media screen and (max-width: 320px) {
    body {
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: auto;
    }
    .calculator {
        width: 320px;
        
    }
    input {
        margin: 0;
        width: 260px;
    }
    button {
        margin: 0;
        padding: 2px;
    }
}

@media screen and (max-width: 425px) {
    body {
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: auto;
    }
    .calculator {
        width: 320px;
        
    }
    input {
        margin: 0;
        width: 260px;
    }
    button {
        margin: 0;
        padding: 2px;
    }
}

@media screen and (max-width: 375px) {
    body {
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: auto;
    }
    .calculator {
        width: 320px;
        
    }
    input {
        margin: 0;
        width: 260px;
    }
    button {
        margin: 0;
        padding: 2px;
    }
}